.add-modal-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: 1px solid #000000;
    overflow-x: hidden;
    overflow-y: scroll;
}

.add-modal-header-wrapper {
    width: 100%;
    min-height: 50px;
    max-height: auto;
    background: #00004c;
    border-bottom: 1px solid #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-modal-icon {
    margin-left: 2%;
    color: #ffffff;
    font-size: 32px;
}

.add-modal-header {
    margin-left: 2%;
    color: #ffffff;
    font-size: 24px;
}

.add-modal-topic-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 100%;
    min-height: 20px;
    max-height: auto;
}

.add-modal-input-group {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 60px;
    max-height: auto;
}

.add-modal-input-group-name {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 12%;
    max-height: auto;
}

.add-modal-select-group {
    display: flex;
    flex-direction: row;
    width: 95%;
    min-height: 13%;
    max-height: 100%;
}

.add-modal-input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-modal-topic-icon {
    font-size: 18px;
    margin-left: 10px;
    color: #00004c;
}

.add-modal-topic-text {
    font-size: 18px;
    margin-left: 5px;
}

.add-modal-input-half {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 7px;
    width: 100%;
    min-height: 18px;
    max-height: auto;
}

.add-modal-input {
    font-size: 22px;
    margin-left: 10px;
    margin-top: 7px;
    width: 100%;
    height: 24px;
}

.add-modal-filter-box-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 32%;
    margin-top: 10px;
}

.add-modal-filter-box-set {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    background: #eeeeee;
    border: 2px solid #696969;
    border-radius: 5px;
}

.add-modal-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 15%;
    max-height: auto;
    margin-bottom: 10px;
}

.add-modal-add-button {
    width: 30%;
    min-height: 37px;
    max-height: auto;
    background: #00007f;
    border: 2px solid #00004c;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.add-modal-cancel-button {
    width: 30%;
    min-height: 37px;
    max-height: auto;
    background: #4c0000;
    border: 2px solid #00004c;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
}

.module-select {
    width: 100%;
    min-height: 13%;
    max-height: 100%;
    margin-top: 7px;
    margin-left: 4%;
    font-size: 14px;
}

.module-select-hdd {
    width: 100%;
    min-height: 13%;
    max-height: 100%;
    margin-top: 7px;
    margin-left: 4%;
    font-size: 12px;
}

.module-select-processor {
    width: 100%;
    margin-top: 7px;
    margin-left: 4%;
    font-size: 13px;
}

.module-select-center {
    margin-top: 7px;
    margin-left: 12%;
    width: 76%;
    font-size: 14px;
}

.all-button {
    width: 22%;
    min-height: 30px;
    max-height: auto;
    background: #00007f;
    border: 2px solid #00004c;
    color: white;
    border-radius: 5px;
    float: right;
    font-size: 12px;
    align-items: center;
}

.clear-button {
    width: 22%;
    min-height: 30px;
    max-height: auto;
    background: #4c0000;
    border: 2px solid #00004c;
    color: white;
    border-radius: 5px;
    float: right;
    font-size: 12px;
    align-items: center;
}

.select-button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 30px;
    max-height: auto;
    margin-left: 44%;
    margin-top: 8px;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}